#register .short{
font-weight:lighter;
color:#FF0000;
font-size:small;
}
#register .weak{
font-weight:lighter;
color:orange;
font-size:small;
}
#register .good{
font-weight: lighter;
color:#2D98F3;
font-size: small;
}
#register .strong{
font-weight:lighter;
color: limegreen;
font-size:small;
}

form .error {
    color: #ee5858;
    font-size: small;
    font-family: fantasy;
  }