{% extends 'base.html' %}
{% block content %}
{% load common_tags %}

<div class="col-md-10">
	<div class="card">
		<div class="card-header card-header-icon" data-background-color="green">
			<i class="material-icons">&#xE894;</i>
		</div>
		<div class="card-content">
			<div class="row">
				<div class="col-md-5">
					{% for rec in records %}



					Game {{forloop.counter}}  : {{ rec.created|date:"dS F f a" }} <br>
					Name : {{rec.name}}	<br> 
					
					{% for ques in quest %}
						{% get_summary ques.id rec as response %}
							Question:- {{ques}} <br>
							Your Answers:- {{response.0}} <br> <br>
					{% endfor %}
					
					<br> <br>
					
					{% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>    

{% endblock %}


